extends ./layout/index

block contenidoJJ
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, rerum! Aliquid veniam doloremque, laborum fuga ipsum aperiam inventore ut error voluptatibus tenetur, obcaecati tempore quas!

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error voluptatibus laudantium molestias ipsam qui atque, doloribus in placeat, ducimus aliquam impedit veritatis. Voluptates, suscipit. Ullam animi dolorum aspernatur nemo molestias eum perspiciatis, quia atque iusto, tempora ea repudiandae voluptates cupiditate unde quae dolore laborum nam? Aperiam voluptatem beatae corporis iure omnis animi ducimus ratione aliquid.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repudiandae, ipsa perspiciatis aut laudantium a impedit sequi in vero minus! Inventore incidunt rem ad, veritatis obcaecati doloribus, blanditiis totam soluta vel officia quaerat recusandae debitis nihil! Quam ratione quidem perferendis, hic impedit modi dolorem laudantium! Voluptatum, ad dolorem? Dignissimos, placeat accusamus!
    //- p Nosotros desde archivo nosotros pug 
    //- p Arriba gente!!
    //- p= viajes
    //- p #{alquileres}
    //- img(src="img/cupon.jpg")

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, tempora beatae libero est minus odit?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, tempora beatae libero est minus odit?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, tempora beatae libero est minus odit?                                        